html {    
    font-family: 'Roboto Mono', monospace;
}
body {
    margin: 0;
    background-color: #efefef;
}

header {
    display: flex;
    justify-content: center;
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
    padding: 0.1rem 0.1rem;
}

#contenedor_header {
    max-width: 960px;
    position: static;
    display : flex;
    flex-direction: row;
    margin: 0.5rem auto;
    justify-content: center;
}

header h1 {
    display: inline;
    vertical-align: middle;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 2rem;

    font-weight: bold;
}

section .contenedor {
    width: 90%;
    margin: 0 auto;
}

section .post_mini {
    max-width: max-content;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow-x: auto;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.1rem;
}

article img{
    width: 99%;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

article .titulo_post{
    padding-left: 0.4rem;
}
.descr_boton{
    padding: 0.2rem;
}
.pequeña_descripcion_post{
    padding-left: 0.2rem;
}

.boton{
    display: inline;
    width: 18%;
    border: 1px solid #2e518b;
    padding: 3px;
    background-color: #2e518b;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
}

@media (min-width: 460px){
    .contenedor{
        max-width: 420px;
        margin: 0.5rem auto;
    }
}
